.logoInfinityEnter
{
    margin-left: 12%;
    width: 96%;
    height: 27px
}

/* .themeOfMathType 
{
    margin-right: 29% !important;
} */

.firstButton
{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    width: 20%;
    margin-top: 20px;
    margin-left: 14%;
}

.trueAndFalseResult ul li
{
    display: inline-block;
}

.mathResult
{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    width: 55% !important;
    margin-top: 25%;
}

#deadlinetime
{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 60%;
    text-align: center;
}

#display
{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    
    width: 70%;
    height: 70vh;
    display: block;
    /* color: black !important ; */
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto
}
#button
{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;    
    margin-top: 4%;
    width: 20%;
}
.wrapperBasicAction
{
    margin-left: 30%;
    margin-top: -10% !important;
}
.thameOfMath
{
    font-weight: 700;
    margin-left: -70% !important;
}
.themeOfMathType
{
    font-size: 25px;
    font-weight: 400;
    margin-right: 45% !important;
}

.footer
{
    position: fixed !important;
    bottom: 0;    
    width: 100%;
    height: 11.5vh;
    /* margin-top: 3.9%; */
    background-color: orange;
}

.footerSocialMedia
{
    text-align: center;
}

.footerSocialMedia ul li
{
    display: inline-block;
    margin-top: 2%;
    margin-left: 1%;
    color: black;
}
.footerSocialMedia ul li :hover
{
    color: white;
}
.footerSocialMedia ul li a
{
    text-decoration: none;
    color: black;
}
#right
{
    margin-left: -38%;
    padding-left: 13px !important;
    padding: 4px;
    background-color: green;
    color: white;
    width: 110%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#wrong
{
    padding: 4px;
    padding-left: 4px;
    background-color: red;
    color: white;
    width: 105%;
    margin-left: -5%;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.trueAndFalseResult
{
    margin-top: 10% !important;
    margin-left: 0% !important;
    font-size: 1.5rem;
}


@media only screen and (max-width: 1200px) {
    #wrong
    {
        margin-left: -35%;
    }
    .wrapperBasicAction
    {
        margin-top: -13% !important;
    }
    .themeOfMathType
    {
        margin-right: 29% !important;
    }
    #button
    {
        width: 40%;
        margin-left: 10%;
    }
    .firstButton
    {
        width: 40%;
    }
    .thameOfMath
    /* {
        margin-left: -250% !important;
    } */
    #display
    {
        width: 100%;
        height: 32vh !important;
    }
    .trueAndFalseResult
    {
        margin-top: 1% !important;
        margin-left: 0% !important;
    }
    #deadlinetime
    {
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #ress
    {
        width: 100% !important;
        margin-left: -20%;
    }
    #button
    {
        margin-left: -20% !important;
    }
    #startButton
    {
        margin-left: 10% !important;
        margin-top: 5%;
    }
    .footer
    {
        margin-top: 50%;
        height: 7vh;
    }
    .footerSocialMedia ul li 
    {
        margin-top: 3% !important;
    }
  }

  @media only screen and (max-width: 768px) {
    .thameOfMath{
        margin-left: -4% !important;
    }

    textarea
    {
        height: 200px !important;
    }
  }